:host {
  display: block;
  overflow: hidden;
}

:host([animate]) paper-fab {
  visibility: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.question-panel {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.question-content {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.card {
  position: relative;
}

.card > core-toolbar {
  height: 176px;
  font-size: 16px;
  line-height: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#questionViews {
  display: block;
}

#questionViews > * {
  display: none;
}

#questionViews > .core-selected {
  display: block;
}

paper-fab.check-button {
  position: absolute;
  top: 148px;
  right: 16px;
  background-color: #f5f5f5;
  color: #cdcdcd;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.answered paper-fab.check-button {
  -webkit-transform: none;
  transform: none;
  background-color: #00e676;
  color: #fff;
}

.theme-bg {
  background-color: #03A9F4;
  color: #fff;
}
